.nav{
    background-color: #373A3C!important;
    padding: 10px!important;
    text-align: left!important;
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    background-image: url("../img/bg-hero.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 880px;
}